.result {
	background-color: grey;
	margin: 0px 0px 0.8rem 0px;
	border-radius: 0.8rem;

	&.home {
		background-color: aqua;
	}
	&.away {
		background-color: darkorange;
	}
	&.draw {
		background-color: lightblue;
	}
}
